page-team {

    ion-avatar img{
        
        width: 98%;
    padding: 0px;
    }

    .card{
            
        width: 108%;
    margin-left: -8px;
    margin-top: -6px;
    }
ion-list{
    width: 102%;
    padding: 0px;
}
p{
     text-align:center; font-weight:bold;
}
    
}
